body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #495057;
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat", "arial", "sans-serif";
  line-height: 24px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  body {
    font-size: 0.9475vw;
    line-height: 1.25vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  body {
    font-size: 1.82vw;
    line-height: 2.5vw;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 3.75vw;
    line-height: 4.37vw;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1920px;
}

@media (min-width: 1920px) {
  .container {
    margin: 0 auto;
    width: 1920px;
  }
}

@media (min-width: 320px) and (max-width: 1920px) {
  .container {
    width: 100%;
  }
}

.button {
  position: relative;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #a0b266;
  border-radius: 20px;
  color: #a0b266;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.5s;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .button {
    padding-top: 0.41vw;
    padding-bottom: 0.41vw;
    border: 0.1vw solid #455c16;
    border-radius: 1.04vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .button {
    padding-top: 1.04vw;
    padding-bottom: 1.04vw;
    border: 0.26vw solid #a0b266;
    border-radius: 2.6vw;
    font-weight: 600;
    font-size: 115%;
  }
}

@media (max-width: 640px) {
  .button {
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    border: 0.62vw solid #a0b266;
    border-radius: 6.25vw;
    font-weight: 600;
    font-size: 115%;
  }
}

.button:hover {
  border-color: #455c16;
  background-color: #a0b266;
  color: #455c16;
}

.button:active,
.button:focus {
  outline: none;
  background-color: #455c16;
  color: #ffffff;
}

.header .container {
  display: flex;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 55px;
  padding-left: 50px;
  justify-content: space-between;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .header .container {
    padding-top: 2.6vw;
    padding-right: 2.6vw;
    padding-bottom: 2.86vw;
    padding-left: 2.6vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .header .container {
    padding: 3.9vw;
  }
}

@media (max-width: 640px) {
  .header .container {
    padding-top: 0;
    padding-right: 9.37vw;
    padding-bottom: 0;
    padding-left: 6.25vw;
  }
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .header__logo {
    width: 13.02vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .header__logo {
    width: 26.04vw;
  }
}

@media (max-width: 640px) {
  .header__logo {
    width: 40.62vw;
  }
}

.header__right {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 354px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .header__right {
    margin-top: 1.04vw;
    margin-bottom: 0.52vw;
    width: 18.43vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .header__right {
    margin-top: 1.17vw;
    margin-bottom: 2.21vw;
    width: 29.29vw;
  }
}

@media (max-width: 640px) {
  .header__right {
    margin-top: 2.5vw;
    margin-bottom: 5.31vw;
    width: 28.43vw;
  }

}

.header_in {
  position: relative;
  border-bottom: 2px solid #a0b266;
  color: #a0b266;
  font-weight: 600;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .header_in {
    border-bottom: 0.1vw solid #a0b266;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .header_in {
    border-bottom: 0.26vw solid #a0b266;
  }
}

@media (max-width: 640px) {
  .header_in {
    font-size: 108%;
    border-bottom: 0.62vw solid #a0b266;
  }

}

.header_in::before {
  position: absolute;
  top: -5px;
  left: -46px;
  width: 40px;
  height: 40px;
  background-image: url("../image/icon-in.svg");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .header_in::before {
    top: -0.26vw;
    left: -2.39vw;
    width: 2.08vw;
    height: 2.08vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .header_in::before {
    top: -0.39vw;
    left: -3.9vw;
    width: 3.9vw;
    height: 3.9vw;
  }
}

@media (max-width: 640px) {
  .header_in::before {
    top: -1.87vw;
    left: -9.37vw;
    width: 8.43vw;
    height: 8.43vw;
  }
}

.header_phone {
  color: #495057;
  font-weight: 500;
  font-size: 133%;
  line-height: 40px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .header_phone {
    line-height: 2.08vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .header_phone {
    line-height: 5.20vw;
  }
}

@media (max-width: 640px) {
  .header_phone {
    position: relative;
    font-size: 0;
  }
}

@media (max-width: 640px) {
  .header_phone::before {
    position: absolute;
    top: 0.62vw;
    left: -5.31vw;
    width: 9.68vw;
    height: 10.93vw;
    background-image: url("../image/icon-phone.svg");
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
  }
}

.main__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  color: #455c16;
  font-weight: 700;
  font-size: 266%;
  line-height: 48px;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .main__header {
    line-height: 2.5vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .main__header {
    margin-bottom: 0;
    line-height: 6.25vw;
  }
}

@media (max-width: 640px) {
  .main__header {
    margin-bottom: 0;
    font-size: 5.62vw;
    line-height: 7.5vw;
  }
}

.main__header::after {
  margin-top: 18px;
  color: #495057;
  content: "~~~~~~~~::~~~~~~~~";
  font-size: 24px;
  line-height: 40px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .main__header::after {
    margin-top: 0.93vw;
    font-size: 1.25vw;
    line-height: 2.08vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .main__header::after {
    margin-top: 1.82vw;
    font-size: 2.34vw;
    line-height: 2.34vw;
  }
}

@media (max-width: 640px) {
  .main__header::after {
    content: "";
  }
}

.main__title,
.main__description,
.experiment__description {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 133%;
  line-height: 40px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .main__title,
  .main__description,
  .experiment__description {
    margin-top: 0.52vw;
    margin-bottom: 0.52vw;
    line-height: 2.08vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .main__title,
  .main__description,
  .experiment__description {
    margin-top: 1.3vw;
    margin-bottom: 1.3vw;
    line-height: 2.86vw;
  }
}

@media (max-width: 640px) {
  .main__title,
  .main__description,
  .experiment__description {
    margin-top: -4.06vw;
    margin-bottom: 3.12vw;
    font-size: 116%;
    line-height: 5.62vw;
  }
}

.slogan .container {
  display: flex;
  flex-direction: column;
  background-image: url("../image/bg-slogan1920.jpg");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (min-width: 641px) and (max-width: 1024px) {
  .slogan .container {
    background-image: url("../image/bg-slogan768.jpg");
  }
}

@media (max-width: 640px) {
  .slogan .container {
    background-image: url("../image/bg-slogan320.jpg");
  }
}

.slogan__title {
  margin-top: 128px;
  margin-bottom: 0;
  margin-left: 200px;
  width: 1034px;
  color: #455c16;
  font-weight: 700;
  font-size: 400%;
  line-height: 84px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .slogan__title {
    margin-top: 6.66vw;
    margin-left: 10.41vw;
    width: 53.85vw;
    line-height: 4.37vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .slogan__title {
    margin-top: 5.98vw;
    margin-bottom: 0;
    margin-left: 3.64vw;
    width: 91.14vw;
    color: #455c16;
    font-weight: 700;
    font-size: 6.25vw;
    line-height: 8.07vw;
  }
}

@media (max-width: 640px) {
  .slogan__title {
    margin-top: 5.62vw;
    margin-bottom: 0;
    margin-left: 6.25vw;
    width: 92.18vw;
    font-weight: 700;
    font-size: 200%;
    line-height: 9.37vw;
  }
}

.slogan__text {
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 200px;
  padding-bottom: 422px;
  width: 750px;
  color: #495057;
  font-weight: 500;
  font-size: 166%;
  line-height: 40px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .slogan__text {
    margin-top: 2.6vw;
    margin-left: 10.41vw;
    padding-bottom: 21.97vw;
    width: 39.06vw;
    line-height: 2.08vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .slogan__text {
    margin-top: 4.42vw;
    margin-bottom: 0;
    margin-left: 3.64vw;
    padding-bottom: 23.82vw;
    width: 72.91vw;
    line-height: 4.29vw;
  }
}

@media (max-width: 640px) {
  .slogan__text {
    margin-top: 5.62vw;
    margin-bottom: 0;
    margin-left: 6.25vw;
    padding-bottom: 35.62vw;
    width: 90.31vw;
    font-size: 133%;
    line-height: 7.81vw;
  }
}

.why-work .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-work__header {
  margin-top: 149px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .why-work__header {
    margin-top: 7.76vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .why-work__header {
    margin-top: 12.89vw;
  }
}

@media (max-width: 640px) {
  .why-work__header {
    margin-top: 13.43vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .why-work__description {
    margin-top: 2.6vw;
    width: 58.59vw;
  }
}

@media (max-width: 640px) {
  .why-work__description {
    width: 85vw;
  }
}

.why-work__list {
  display: flex;
  margin-top: 83px;
  margin-bottom: 118px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .why-work__list {
    margin-top: 4.32vw;
    margin-bottom: 6.14vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .why-work__list {
    flex-direction: column;
    margin-top: 10.02vw;
    margin-bottom: 1.17vw;
    margin-left: 6.51vw;
    align-items: flex-start;
  }
}

@media (max-width: 640px) {
  .why-work__list {
    flex-direction: column;
    margin-top: 2.18vw;
    margin-bottom: 8.75vw;
    margin-left: 13.43vw;
    align-items: flex-start;
  }
}

.why-work__item {
  display: flex;
  flex-direction: column;
  width: 420px;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .why-work__item {
    width: 21.87vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .why-work__item {
    position: relative;
    margin-bottom: 8.72vw;
    margin-left: 0;
    width: 100%;
    align-items: flex-start;
  }
}

@media (max-width: 640px) {
  .why-work__item {
    position: relative;
    margin-bottom: 0.93vw;
    margin-left: 0;
    width: 100%;
    align-items: flex-start;
  }

}

.why-work__item:nth-child(n):not(:last-child) {
  margin-right: 152px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .why-work__item:nth-child(n):not(:last-child) {
    margin-right: 7.91vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .why-work__item:nth-child(n):not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .why-work__item:nth-child(n):not(:last-child) {
    margin-right: 0;
  }
}

.why-work__item::before {
  width: 80px;
  height: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .why-work__item::before {
    width: 4.16vw;
    height: 4.16vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .why-work__item::before {
    position: absolute;
    top: -0.91vw;
    left: -12.89vw;
  }
}

@media (max-width: 640px) {
  .why-work__item::before {
    position: absolute;
    top: 1.87vw;
    left: -19.06vw;
    width: 15.62vw;
    height: 15.62vw;
  }
}

.why-work__item--gift::before {
  background-image: url("../image/icon-gift.svg");
}

.why-work__item--quality::before {
  background-image: url("../image/icon-quality.svg");
}

.why-work__item--technology::before {
  background-image: url("../image/icon-technology.svg");
}

.why-work__title {
  margin-top: 4px;
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .why-work__title {
    margin-top: 0.2vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .why-work__title {
    margin-top: 0.52vw;
    text-align: left;
  }
}

@media (max-width: 640px) {
  .why-work__title {
    margin-top: 3.12vw;
    margin-left: 0;
    text-align: left;
  }
}

.why-work__text {
  margin-top: 12px;
  width: 372px;
  text-align: center;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .why-work__text {
    margin-top: 0.62vw;
    width: 19.37vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .why-work__text {
    margin-top: 1.56vw;
    width: 41.66vw;
    text-align: left;
  }
}

@media (max-width: 640px) {
  .why-work__text {
    margin-top: 2.18vw;
    margin-left: 0;
    width: 66.25vw;
    text-align: left;
    line-height: 5vw;
  }
}

.profit {
  display: flex;
}

.profit .container {
  padding-left: 50px;
  background-color: #fbf2b5;
  background-image: url("../image/bg-profit960.jpg");
  background-position: top right;
  background-size: 50%;
  background-repeat: no-repeat;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .profit .container {
    padding-left: 2.6vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .profit .container {
    padding-left: 0;
    background-image: url("../image/bg-profit768.jpg");
    background-position: top left;
    background-size: 100%;
  }
}

@media (max-width: 640px) {
  .profit .container {
    padding-left: 0;
    background-image: url("../image/bg-profit320.jpg");
    background-position: top left;
    background-size: 100%;
  }
}

.profit__header {
  margin-top: 129px;
  align-items: flex-start;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .profit__header {
    margin-top: 6.71vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .profit__header {
    margin-top: 65.36vw;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .profit__header {
    margin-top: 69.68vw;
    align-items: center;
  }
}

.profit__block {
  display: flex;
  flex-direction: column;
  padding-left: 47px;
  width: 50%;
  align-items: flex-start;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .profit__block {
    padding-left: 2.44vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .profit__block {
    flex-direction: column;
    padding-left: 0;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .profit__block {
    flex-direction: column;
    padding-left: 0;
    width: 100%;
    align-items: center;
  }
}

.profit__list {
  display: flex;
  margin-top: 56px;
  margin-bottom: 56px;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .profit__list {
    margin-top: 2.91vw;
    margin-bottom: 2.91vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .profit__list {
    margin-top: 7.81vw;
    margin-bottom: 10.93vw;
  }
}

@media (max-width: 640px) {
  .profit__list {
    margin-top: 9.06vw;
    margin-bottom: 4.68vw;
  }
}

.profit__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 72px;
  width: 350px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .profit__item {
    padding-bottom: 3.75vw;
    width: 18.22vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .profit__item {
    padding-bottom: 4.68vw;
    width: 50%;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .profit__item {
    position: relative;
    margin-left: 22.5vw;
    padding-bottom: 9.68vw;
    width: 100%;
    align-items: flex-start;
  }
}

.profit__item:nth-child(2n - 1) {
  margin-right: 64px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .profit__item:nth-child(2n - 1) {
    margin-right: 3.33vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .profit__item:nth-child(2n - 1) {
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .profit__item:nth-child(2n - 1) {
    margin-right: 0;
  }
}

.profit__item::before {
  width: 80px;
  height: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .profit__item::before {
    width: 4.16vw;
    height: 4.16vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .profit__item::before {
    width: 7.81vw;
    height: 7.81vw;
  }
}

@media (max-width: 640px) {
  .profit__item::before {
    position: absolute;
    top: -2.5vw;
    left: -18.43vw;
    width: 14.06vw;
    height: 14.06vw;
  }
}

.profit__item--antibiotic::before {
  background-image: url("../image/icon-antibiotic.svg");
}

.profit__item--taste::before {
  background-image: url("../image/icon-taste.svg");
}

.profit__item--benefit::before {
  background-image: url("../image/icon-benefit.svg");
}

.profit__item--health::before {
  background-image: url("../image/icon-health.svg");
}

.profit__title {
  margin-top: 3px;
  text-align: center;
  font-size: 133%;
  line-height: 40px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .profit__title {
    margin-top: 0.15vw;
    line-height: 2.08vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .profit__title {
    margin-top: 0;
    margin-bottom: 0.65vw;
    text-align: left;
    line-height: 5.2vw;
  }
}

@media (max-width: 640px) {
  .profit__title {
    margin-top: 0;
    margin-bottom: 1.56vw;
    font-size: 108%;
    line-height: 5vw;
  }
}

.profit__text {
  margin-top: -2px;
  width: 300px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .profit__text {
    margin-top: -0.1vw;
    width: 15.62vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .profit__text {
    margin-top: 0;
    width: 39.06vw;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .profit__text {
    margin-top: 0;
    width: 69.68vw;
    text-align: left;
    font-size: 100%;
    line-height: 5.31vw;
  }
}

.catalog {
  display: flex;
  height: 1230px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog {
    height: 63.54vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog {
    height: 190.36vw;
  }
}

@media (max-width: 640px) {
  .catalog {
    height: 385.31vw;
  }

}

.catalog .container {
  display: flex;
  flex-direction: column;
  background-image: url("../image/bg-catalog1920.jpg");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog .container {
    background-image: url("../image/bg-catalog768.jpg");
  }
}

@media (max-width: 640px) {
  .catalog .container {
    background-image: url("../image/bg-catalog320.jpg");
  }
}

.catalog__header {
  margin-top: 174px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__header {
    margin-top: 9.06vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__header {
    margin-top: 6.9vw;
  }
}

@media (max-width: 640px) {
  .catalog__header {
    margin-top: 15.31vw;
  }
}

.catalog__description {
  width: 1056px;
  line-height: 32px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__description {
    width: 55vw;
    line-height: 1.66vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__description {
    margin-top: 3.38vw;
    width: 90.36vw;
    line-height: 3.12vw;
  }
}

@media (max-width: 640px) {
  .catalog__description {
    margin-top: -3.12vw;
    width: 75.62vw;
    line-height: 5.31vw;
  }
}

.catalog__list {
  display: flex;
  margin-top: 116px;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  list-style: none;
  justify-content: center;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__list {
    margin-top: 6.04vw;
    margin-bottom: 1.04vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__list {
    margin-top: 2.28vw;
    margin-bottom: 2.6vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 640px) {
  .catalog__list {
    margin-top: 14.68vw;
    margin-bottom: 6.25vw;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding-top: 53px;
  padding-bottom: 48px;
  width: 265px;
  background-color: #ffffff;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__item {
    padding-top: 2.76vw;
    padding-bottom: 2.5vw;
    width: 13.8vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__item {
    margin-bottom: 4.29vw;
    padding-top: 6.9vw;
    padding-bottom: 6.25vw;
    width: 42.96vw;
  }
}

@media (max-width: 640px) {
  .catalog__item {
    flex-direction: row;
    margin-bottom: 14.06vw;
    padding-top: 3.12vw;
    padding-bottom: 8.43vw;
    width: 86.56vw;
  }
}

.catalog__item:nth-child(n):not(:last-child) {
  margin-right: 60px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__item:nth-child(n):not(:last-child) {
    margin-right: 3.12vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__item:nth-child(n):not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .catalog__item:nth-child(n):not(:last-child) {
    margin-right: 0;
  }
}

.catalog__img {
  width: 99px;
  height: 193px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__img {
    width: 5.15vw;
    height: 10.05vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__img {
    width: 12.89vw;
    height: 25.13vw;
  }
}

@media (max-width: 640px) {
  .catalog__img {
    margin-top: 2.81vw;
    margin-left: 4.06vw;
    width: 19.37vw;
    height: 37.81vw;
  }
}

.catalog__block {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-top: 14px;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 2px solid #a0b266;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__block {
    margin-top: 1.82vw;
    padding-top: 0.72vw;
    padding-right: 0.78vw;
    padding-left: 0.78vw;
    border-top: 0.1vw solid #a0b266;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__block {
    margin-top: 4.55vw;
    padding-top: 1.82vw;
    padding-right: 5.2vw;
    padding-left: 5.2vw;
    border-top: 0.26vw solid #a0b266;
  }
}

@media (max-width: 640px) {
  .catalog__block {
    margin-top: 3.12vw;
    padding-top: 1.56vw;
    padding-right: 3.12vw;
    padding-left: 11.87vw;
    width: 62.5vw;
    border-top: none;
    align-items: flex-start;
  }
}

.catalog__text {
  height: 50px;
  text-align: left;
  font-size: 88%;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__text {
    height: 2.6vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__text {
    height: 6.51vw;
    font-size: 115%;
  }
}

@media (max-width: 640px) {
  .catalog__text {
    height: 15.62vw;
    font-size: 100%;
    line-height: 5vw;
  }
}

.catalog__price {
  margin-bottom: 34px;
  text-align: center;
  font-weight: 500;
  font-size: 133%;
  line-height: 40px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__price {
    margin-bottom: 1.77vw;
    line-height: 2.08vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__price {
    margin-bottom: 4.42vw;
    font-size: 166%;
    line-height: 5.2vw;
  }
}

@media (max-width: 640px) {
  .catalog__price {
    margin-top: 0;
    margin-bottom: 7.5vw;
    text-align: left;
    font-size: 108%;
    line-height: 5vw;
  }
}

.catalog__button {
  width: 150px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .catalog__button {
    width: 7.81vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .catalog__button {
    width: 19.53vw;
  }
}

@media (max-width: 640px) {
  .catalog__button {
    width: 37.5vw;
  }
}

.experiment {
  display: flex;
}

.experiment .container {
  display: flex;
  background-color: #fbf2b5;
  background-image: url("../image/bg-experiment960.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
}

@media (min-width: 641px) and (max-width: 1024px) {
  .experiment .container {
    background-image: url("../image/bg-experiment768.jpg");
    background-position: 0 75.52vw;
    background-size: auto;
  }
}

@media (max-width: 640px) {
  .experiment .container {
    background-image: url("../image/bg-experiment320.jpg");
    background-position: 0 136.25vw;
    background-size: auto;
  }
}

.experiment__header {
  margin-top: 125px;
  align-items: flex-start;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .experiment__header {
    margin-top: 6.51vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .experiment__header {
    margin-top: 10.54vw;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .experiment__header {
    margin-top: 15.62vw;
    align-items: center;
  }
}

.experiment__block {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  padding-bottom: 150px;
  padding-left: 97px;
  width: 50%;
  align-items: flex-start;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .experiment__block {
    padding-bottom: 7.81vw;
    padding-left: 5.05vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .experiment__block {
    margin-left: 0;
    padding-bottom: 68.61vw;
    padding-left: 0;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .experiment__block {
    margin-left: 0;
    padding-bottom: 73.75vw;
    padding-left: 0;
    width: 100%;
    align-items: center;
  }
}

.experiment__description {
  margin-bottom: 21px;
  width: 800px;
  text-align: left;
  line-height: 30px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .experiment__description {
    margin-bottom: 1.09vw;
    width: 41.66vw;
    line-height: 1.56vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .experiment__description {
    margin-top: 2.86vw;
    margin-bottom: 4.16vw;
    width: 65.1vw;
    text-align: center;
    line-height: 3.9vw;
  }
}

@media (max-width: 640px) {
  .experiment__description {
    margin-top: -0.31vw;
    margin-bottom: 1.25vw;
    width: 79.68vw;
    text-align: center;
    line-height: 5.31vw;
  }
}

.experiment__text {
  margin-top: 19px;
  margin-bottom: 3px;
  width: 740px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .experiment__text {
    margin-top: 0.98vw;
    margin-bottom: 0.15vw;
    width: 38.54vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .experiment__text {
    margin-top: 2.21vw;
    margin-bottom: 0;
    margin-left: 9.5vw;
    width: 79.55vw;
    font-size: 100%;
    line-height: 3.12vw;
    align-self: flex-start;
  }
}

@media (max-width: 640px) {
  .experiment__text {
    margin-top: 5.31vw;
    margin-bottom: 0;
    margin-left: 5.31vw;
    width: 85.93vw;
    font-size: 100%;
    line-height: 5.31vw;
    align-self: flex-start;
  }
}

.footer {
  display: flex;
}

.footer .container {
  display: flex;
  padding-top: 4px;
  padding-right: 45px;
  padding-left: 50px;
  background-color: #a0b266;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .footer .container {
    padding-top: 0.2vw;
    padding-right: 2.34vw;
    padding-left: 2.6vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .footer .container {
    padding-top: 0;
    padding-right: 4.29vw;
    padding-left: 4.29vw;
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .footer .container {
    padding-top: 3.75vw;
    padding-right: 3.12vw;
    padding-left: 6.56vw;
    flex-wrap: wrap;
  }
}

.footer__text {
  margin-top: 25px;
  font-weight: 500;
  font-size: 133%;
  line-height: 40px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .footer__text {
    margin-top: 1.3vw;
    line-height: 2.08vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .footer__text {
    margin-top: -0.39vw;
    font-size: 100%;
    line-height: 5.2vw;
  }
}

@media (max-width: 640px) {
  .footer__text {
    margin-top: 0;
    width: 100%;
    font-size: 100%;
    line-height: 5.62vw;
  }
}

@media (max-width: 640px) {
  .footer__email {
    margin-top: 0;
    order: 1;
  }
}

.footer__address {
  margin-top: 13px;
  padding-bottom: 10px;
  width: 600px;
  line-height: 31px;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .footer__address {
    margin-top: 0.67vw;
    padding-bottom: 0.52vw;
    width: 31.25vw;
    line-height: 1.61vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .footer__address {
    margin-top: -1.69vw;
    padding-bottom: 1.3vw;
    width: 45.7vw;
    line-height: 2.21vw;
  }
}

@media (max-width: 640px) {
  .footer__address {
    margin-top: -1.25vw;
    padding-bottom: 3.12vw;
    width: 68.75vw;
    line-height: 4.68vw;
    order: 2;
  }
}

.footer_phone {
  margin-left: 230px;
  color: #495057;
}

@media (min-width: 1025px) and (max-width: 1919px) {
  .footer_phone {
    margin-left: 11.97vw;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .footer_phone {
    margin-left: 29.94vw;
  }
}

@media (max-width: 640px) {
  .footer_phone {
    margin-top: 3.12vw;
    margin-left: 0;
    order: 0;
  }
}
